@media screen and (max-width: 900px), screen and (max-height: 650px) {
    body {
        zoom: .7;

        -moz-transform: scale(.7);
        -moz-transform-origin: 0 0;
    }
}


@media screen and (max-width: 600px), screen and (max-height: 450px) {
    body {
        zoom: .5;

        -moz-transform: scale(.5);
        -moz-transform-origin: 0 0;
    }
}


@media screen and (min-width: 2500px), screen and (min-height: 2000px) {
    body {
        zoom: 1.5;

        -moz-transform: scale(1.5);
        -moz-transform-origin: 0 0;
    }
}


@media (orientation: portrait) {
    body {
        zoom: 1.5;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 620px;
        height: 885px;

        transform: translate(-310px, -442px);
    }
    .leaderboard {
        top: 625px;
        left: 10px;
    }
    .arrows-container {
        top: 330px;
        left: 130px;

        zoom: 1.9;
    }
    .cage,
    .caged-snake {
        top: 625px;
        left: 540px;
    }
    .start-button {
        top: 820px;
        left: 230px;
    }
    .score-window {
        top: 820px;
        left: 230px;
    }
    .settings-button {
        top: 800px;
        left: 420px;
    }
    .gift {
        top: 760px;
        left: 520px;
    }
    .close-settings-button {
        top: -35px;
        left: 395px;
    }
    .message {
        left: 10px;
    }
}

@media screen and (orientation: portrait) and  (max-height: 1000px) {
    body {
        zoom: 0.9;
    }
}

@media screen and (orientation: portrait) and  (max-height: 800px) {
    body {
        zoom: .7;
    }
}

@media screen and (orientation: portrait) and  (max-height: 800px) {
    body {
        zoom: .7;
    }
}

@media screen and (orientation: portrait) and  (max-height: 600px) {
    body {
        zoom: .6;
    }
}

@media screen and (orientation: portrait) and  (max-height: 550px) {
    body {
        zoom: .5;
    }
}