body
{
    font-family: 'Alegreya', serif;

    overflow: hidden;

    height: 100vh;
    margin: 0;

    background-color: #1a1a1a;
}
*,
*::after,
*::before
{
    box-sizing: border-box;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

    cursor: default;
    -webkit-user-select: none;

    touch-action: manipulation;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}
*::selection
{
    background: none;
}

.main-container-locker
{
    position: absolute;

    width: 100%;
    height: 100%;

    background: none;
}

.blured
{
    filter: blur(5px);
}

.container
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 870px;
    height: 620px;

    transform: translate(-435px, -310px);
}

.main-container
{
    position: relative;

    width: 100%;
    height: 100%;
}

.field
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0;

    box-sizing: padding-box;
    width: 600px;
    height: 600px;

    table-layout: fixed;
    border-collapse: collapse;

    box-shadow: 0 0 10px #ed4623;
}
.field .field-cell
{
    line-height: 0;
    font-size: 0;
    position: relative;

    overflow: hidden;

    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}

.field .field-row:nth-child(even) .field-cell:nth-child(even),
.field .field-row:nth-child(odd) .field-cell:nth-child(odd)
{
    background-color: #1d1d1d;
}


.barrier
{
    width: 35px;
    height: 35px;

    border: 1px solid white;
    background-color: brown;
}

.snake
{
    width: 35px;
    height: 35px;

    border: 1px solid white;
}
.new-snake-part {
    border: 5px solid #1d1d1d;
    animation: blink-1 0.5s both;
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.snake-head
{
    background-color: red !important;
}

.normal-point
{
    position: absolute;
    top: 10px;
    left: 10px;

    width: 15px;
    height: 15px;

    border: 1px solid white;
    border-radius: 5px;
    background-color: red;
}
.special-point
{
    position: absolute;
    top: 5px;
    left: 5px;

    width: 25px;
    height: 25px;

    animation: vibrate .3s linear infinite both;

    border: 1px solid white;
    border-radius: 10px;
}
@keyframes vibrate
{
    0%
    {
        transform: translate(0);
    }20%
    {
        transform: translate(-1px,1px);
    }40%
    {
        transform: translate(-1px,-1px);
    }60%
    {
        transform: translate(1px,1px);
    }80%
    {
        transform: translate(1px,-1px);
    }100%
    {
        transform: translate(0);
    }
}
.special-point-indicator
{
    position: absolute;
    top: -5px;
    left: -3px;

    width: 130%;
    height: 2px;

    animation: decrease-to-zero 4s cubic-bezier(.250, .460, .450, .940) both;

    border: none;
    background-color: #03fc36;
}
@keyframes decrease-to-zero
{
    0%
    {
        width: 130%;
    }100%
    {
        width: 0;
    }
}
.bonus-point
{
    background-color: red;
}
.poisoned-point
{
    background-color: #6da758;
}

.leaderboard
{
    font-size: 25px;

    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    flex-direction: column;

    width: 200px;
    height: 250px;
    padding: 15px;
    padding-top: 7px;

    cursor: default;
    text-align: center;

    color: #9c43c7;
    box-shadow: 0 0 10px #ed4623;

    justify-content: space-around;
}
.leaderboard .leaderboard-title
{
    font-weight: bold;

    border-bottom: 1px solid #a9a9a9;
}
.leaderboard .leader .leader-name,
.leaderboard .leader .leader-score
{
    font-size: 19px;

    display: inline-block;
}

.score-window
{
    font-size: 28px;
    font-weight: bold;
    line-height: 1.1em;

    position: absolute;
    top: 410px;
    right: 25px;

    width: 95px;
    height: 38px;

    text-align: center;

    color: #9c43c7;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #ed4623;
}


.arrows-container
{
    position: absolute;
    top: 275px;
    right: 70px;

    width: 135px;
    height: 105px;
}
.arrows-container .arrow
{
    position: absolute;

    width: 45px;
    height: 45px;

    cursor: pointer;
    text-align: center;

    border: none;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0 8px #23caed;
}
.arrows-container .arrow:hover
{
    box-shadow: 0 0 8px #5ba6b5;
}
.arrows-container .arrow:active
{
    box-shadow: 0 0 3px #5ba6b5;
}
.arrows-container .arrow:focus
{
    outline: none;
}
.arrows-container .arrow-left
{
    top: 28px;
    left: 2px;
}
.arrows-container .arrow-up
{
    top: 4px;
    left: 45px;
}
.arrows-container .arrow-right
{
    top: 28px;
    right: 2px;
}
.arrows-container .arrow-down
{
    bottom: 4px;
    left: 45px;
}
.arrows-container .arrow .arrow-picture
{
    position: relative;
    left: 8px;

    width: 15px;
    height: 15px;

    cursor: pointer;

    border: 1px solid tomato;
    border-width: 2px 2px 0 0;
    background: none;
}
.arrows-container .arrow-left .arrow-left-picture
{
    transform: rotate(225deg);
}
.arrows-container .arrow-up .arrow-up-picture
{
    transform: rotate(-45deg);
}
.arrows-container .arrow-right .arrow-right-picture
{
    transform: rotate(45deg);
}
.arrows-container .arrow-down .arrow-down-picture
{
    transform: rotate(135deg);
}
.active-screen-arrow
{
    box-shadow: 0 0 3px #5ba6b5 !important;
}

.start-button
{
    font-size: 24px;

    position: absolute;
    top: 410px;
    right: 25px;

    width: 95px;
    height: 38px;
    padding: 5px 10px;

    cursor: pointer;
    text-transform: uppercase;

    color: #9c43c7;
    border: none;
    border-radius: 10px;
    background: none;
    box-shadow: 0 0 10px #ed4623;
}
.start-button:hover
{
    color: #d12ec8;
    box-shadow: 0 0 10px #eb1424;
}
.start-button:active
{
    color: #d12ec8;
    box-shadow: 0 0 3px #eb1424;
}
.start-button:focus
{
    outline: none;
}

.caged-snake,
.cage
{
    position: absolute;
    top: 395px;
    right: 160px;

    width: 70px;

    cursor: pointer;
}
.dragged-caged-snake
{
    z-index: 50;
}

.gift
{
    position: absolute;
    top: 490px;
    right: 15px;

    width: 100px;
    height: 100px;

    cursor: pointer;
    animation: jumping .4s cubic-bezier(.250, .460, .450, .940) infinite alternate-reverse both;
}

@keyframes jumping
{
    0%
    {
        transform: translateY(0);
    }
    100%
    {
        transform: translateY(-10px);
    }
}

.settings-button
{
    position: absolute;
    top: 515px;
    right: 140px;

    cursor: pointer;

    border: none;
    background: none;
}
.settings-button:focus
{
    outline: none;
}
.settings-icon
{
    width: 70px;

    cursor: pointer;
    transition-duration: 200ms;

    background: none;
}
.settings-icon:hover
{
    transform: rotate(45deg);
}


.close-settings-button
{
    top: -35px;
    right: -35px;
}
.close-settings-button:hover
{
    transition-duration: 50ms;
    transform: scale(1.1);

    filter: saturate(150%);
}
.close-settings-icon
{
    width: 30px;
}

.settings-container
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 300px;

    transform: translate(-200px, -125px);

    color: #cacaca;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px #6ec743;
}
.single-settings-container
{
    position: absolute;
    top: 10px;

    width: 180px;
    height: 230px;

    text-align: center;

    box-shadow: 0 0 4px #9c43c7;
}

.settings-container .single-settings-container-title
{
    font-size: 20px;
    font-weight: bold;

    border-bottom: 1px solid #9c43c7;
    text-shadow: 0 2px 5px #9c43c7;
}

.snake-settings-container
{
    left: 10px;

    width: 225px;
}

.snake-color-title
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.snake-color-container
{
    display: flex;

    justify-content: center;
    align-items: center;
}
.snake-color-container div
{
    display: inline-block;
}
.snake-color-container input[type='radio']
{
    display: none;
}
.snake-color-container input[type='radio'] + label
{
    font-family: Arial, sans-serif;
    font-size: 14px;

    color: #333;
}
.snake-color-container input[type='radio'] + label span
{
    line-height: 44px;

    display: inline-block;

    width: 30px;
    height: 30px;
    margin: -1px 4px 0 0;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    border: 2px solid #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .33);
}
.snake-color-container input[type='radio'] + label span img
{
    margin-bottom: 3px;

    transition: all .3s ease;

    opacity: 0;
}
.snake-color-container input[type='radio']#snake-color-1 + label span
{
    background-color: #2ecc71;
}
.snake-color-container input[type='radio']#snake-color-2 + label span
{
    background-color: #3498db;
}
.snake-color-container input[type='radio']#snake-color-3 + label span
{
    background-color: #f1c40f;
}
.snake-color-container input[type='radio']#snake-color-4 + label span
{
    background-color: #e74c3c;
}
.snake-color-container input[type='radio']:checked + label span img
{
    opacity: 1;
}

.snake-speed-title
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.speed-container
{
    font-size: 0;

    display: inline-block;
    overflow: hidden;

    white-space: nowrap;

    border: solid 3px #675f6b;
    border-radius: 10px;
}
.speed-container input[type=radio]
{
    position: absolute;

    display: none;
    visibility: hidden;
}
.speed-container label
{
    font-size: 17px;
    font-weight: bold;

    display: inline-block;

    padding: 5px 15px;

    cursor: pointer;

    color: #9a929e;
}
.speed-container input[type=radio]:checked + label
{
    transition-duration: 200ms;

    color: #2f2f2f;
    background: #947ada;
}
.speed-container label + input[type=radio] + label
{
    border-left: solid 3px #675f6b;
}

.field-settings-container
{
    right: 10px;

    width: 135px;
}
.field-settings-container .barriers-container
{
    position: absolute;
    top: 40px;
    left: 15px;
}
.field-settings-container .poison-container
{
    position: absolute;
    top: 70px;
    right: 15px;
}
.field-settings-container .bonus-points-container
{
    position: absolute;
    top: 120px;
    left: 15px;
}
.field-settings-container .throught-walls-container
{
    position: absolute;
    top: 170px;
    right: 10px;
}
.field-settings-container .throught-walls-container label
{
    margin-left: 45px;
}
.field-settings-container .toggle
{
    position: relative;

    display: block;

    width: 40px;
    height: 20px;

    cursor: pointer;
    transform: translate3d(0, 0, 0);
}

.field-settings-container .toggle:before
{
    position: relative;
    top: 3px;
    left: 3px;

    display: block;

    width: 34px;
    height: 14px;

    content: '';
    transition: background .2s ease;

    border-radius: 8px;
    background: #9a9999;
}

.field-settings-container .toggle span
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 20px;
    height: 20px;

    transition: all .2s ease;

    border-radius: 10px;
    background: white;
    box-shadow: 0 3px 8px rgba(154, 153, 153, .5);
}

.field-settings-container .toggle span:before
{
    position: absolute;

    display: block;

    width: 56px;
    height: 56px;
    margin: -18px;

    content: '';
    transform: scale(0);
    pointer-events: none;

    opacity: 1;
    border-radius: 50%;
    background: rgba(79, 46, 220, .5);
}

.field-settings-container .settingsCheckbox:checked + .toggle:before
{
    background: #947ada;
}

.field-settings-container .settingsCheckbox:checked + .toggle span
{
    transition: all .2s cubic-bezier(.8, .4, .3, 1.25), background .15s ease;
    transform: translateX(20px);

    background: #4f2edc;
    box-shadow: 0 3px 8px rgba(79, 46, 220, .2);
}

.field-settings-container .settingsCheckbox:checked + .toggle span:before
{
    transition: all .4s ease;
    transform: scale(1);

    opacity: 0;
}


.settings-container .name-settings-container
{
    top: auto;
    bottom: 10px;
    left: 10px;

    width: 380px;
    height: 40px;
}
.settings-container .name-settings-title
{
    line-height: 30px;

    width: 70px;
    height: 30px;
    margin-top: 5px;

    border-right: 1px solid #9c43c7;
    border-bottom: none;
}
.settings-container .name-field
{
    font-size: 20px;
    font-weight: bold;

    position: absolute;
    top: 5px;
    left: 90px;

    width: 270px;
    height: 30px;

    cursor: text;
    text-align: center;

    border: none;
    background: none;
    text-shadow: 0 2px 5px #9c43c7;
}
.settings-container .name-field:focus
{
    outline: none;
}

.message
{
    font-size: 250px;
    line-height: 280px;

    position: absolute;
    z-index: 100;
    top: 150px;
    left: 150px;

    width: 600px;
    height: 280px;

    text-align: center;
    text-transform: uppercase;
}
.win-message
{
    color: #6ec743;
}
.lose-message
{
    color: #9e0303;
}
.animate-message
{
    animation: text-pop-up-top .4s cubic-bezier(.250, .460, .450, .940) both;
}
@keyframes text-pop-up-top
{
    0%
    {
        transform: translateY(0);
        transform-origin: 50% 50%;

        text-shadow: none;
    }
    100%
    {
        transform: translateY(-50px);
        transform-origin: 50% 50%;

        text-shadow: 0 1px 0 #686868, 0 2px 0 #686868, 0 3px 0 #686868, 0 4px 0 #686868, 0 5px 0 #686868, 0 6px 0 #686868, 0 7px 0 #686868, 0 8px 0 #686868, 0 9px 0 #686868, 30px 30px 50px #9c43c7;
    }
}




@media screen and (max-width: 900px), screen and (max-height: 650px)
{
    body
    {
        zoom: .7;

        -moz-transform: scale(.7);
        -moz-transform-origin: 0 0;
    }
}
@media screen and (min-width: 2500px), screen and (min-height: 2000px)
{
    body
    {
        zoom: 1.5;

        -moz-transform: scale(1.5);
        -moz-transform-origin: 0 0;
    }
}
@media (orientation: portrait)
{
    body
    {
        zoom: 1.5;
    }
    .container
    {
        top: auto;
        bottom: 0;
        left: 10px;

        width: 620px;
        height: 885px;

        transform: none;
    }
    .leaderboard
    {
        top: 625px;
        left: 10px;
    }
    .arrows-container
    {
        top: 330px;
        left: 130px;

        zoom: 1.9;
    }
    .cage,
    .caged-snake
    {
        top: 625px;
        left: 540px;
    }
    .start-button
    {
        top: 820px;
        left: 230px;
    }
    .score-window
    {
        top: 820px;
        left: 230px;
    }
    .settings-button
    {
        top: 800px;
        left: 420px;
    }
    .gift
    {
        top: 760px;
        left: 520px;
    }
    .close-settings-button
    {
        top: -35px;
        left: 395px;
    }
    .message
    {
        left: 10px;
    }
}
@media screen and (orientation: portrait) and  (max-height: 1000px)
{
    body
    {
        zoom: 1;
    }
}
